@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to map builder!</h1>
<pre>
Map builder is a set of tools to make <a href="https://www.openstreetmap.org/">OpenStreetMap</a>
data easier to use for the purpose of making games.
</pre>
<h3>Parameters</h3>
<ul>
    <li>Level: The size of the map to draw, lower is bigger and will take a lot longer, so try higher levels first.</li>
    <li>Preset Buttons: Auto enters coordinates of the location.</li>
    <li>Latitude: The latitude coordinate.</li>
    <li>Longitude: The latitude coordinate.</li>
</ul>
<h3><a href="/getmap">[Get Map]</a></h3>
<h5>Draws a map of an area.</h5>

<h3><a href="/getdata">[Get Data]</a></h3>
<h5>Gets the JSON data of all the cells in an area.</h5>