@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to map builder!</h1>
<pre>
Map builder is a set of tools to make OpenStreetMap (https://www.openstreetmap.org/)
data more easy to use for the purpose of making games.
</pre>
<h3>[Get Map]</h3>
<h5>Draws a map of an area.</h5>
<ul>
    <li>Level: The size of the map to draw, lower is bigger and will take a lot longer, so try higher levels first.</li>
    <li>Preset Buttons: Auto enters coordinates of the location.</li>
    <li>Latitude: The latitude coordinate.</li>
    <li>Longitude: The latitude coordinate.</li>
</ul>
<h3>[Get Data]</h3>
<h5>Gets the JSON data of all the cells in an area.</h5>
<ul>
    <li>Level: The size of the map to draw, lower is bigger and will take a lot longer, so try higher levels first.</li>
    <li>Preset Buttons: Auto enters coordinates of the location.</li>
    <li>Latitude: The latitude coordinate.</li>
    <li>Longitude: The latitude coordinate.</li>
</ul>