/* _content/MapBuilder.Web/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-jg09364ed8] {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}
main[b-jg09364ed8] {
    flex: 1;
}
.sidenav[b-jg09364ed8] {
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 20px;
    overflow-x: auto;
}

.sidenav a[b-jg09364ed8] {
    text-align: left;
    width : 100%;
    display: flex;
}

.sidenav a:hover[b-jg09364ed8] {
}
.sidenav a.button[b-jg09364ed8] {
    margin: auto;
    border: 1px outset buttonborder;
    border-radius: 32px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    height: 50%;
    width : 100%;
    padding: 6px 6px 6px 6px;
    font-size: 1.1vw;
}

#blazor-error-ui[b-jg09364ed8] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#blazor-error-ui .dismiss[b-jg09364ed8] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
