@inherits LayoutComponentBase

<div class="page">
    <div class="sidenav" id = "navmenu" hidden = "@false">
        <a type="button" href="/" class="button"><i class="bi bi-house px-3" aria-hidden="true"></i>Home</a>
        <br>
        <a type="button" href="/getmap" class="button"><i class="bi bi-map px-3" aria-hidden="true"></i>Get Map</a>
        <br>
        <a type="button" href="/getdata" class="button"><i class="bi bi-filetype-json px-3" aria-hidden="true"></i>Get JSON</a>
        <br>
        <a type="button" href="/featuresettings" class="button"><i class="bi bi-building px-3" aria-hidden="true"></i>Feature Settings</a>
        <br>
        <a type="button" href="/drawsettings" class="button"><i class="bi bi-brush px-3" aria-hidden="true"></i>Draw Settings</a>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
}